/***********
This file has CSS for the buttons on the security system main page 
***********/

/* This CSS deals with the buttons that arm the system */
.hide-button {
	display: none;
}

/* This CSS deals with the buttons that turn off the alarm on a building */

.button-look {
	border-radius: 8px;
	text-transform: uppercase;
	background-color:#2D92E5;
	border-color: #2D92E5;
}

.button-armed {
	background-color: #FF0000;
	border-color: #FF0000;
}