/***********
This file has CSS for the home page
***********/

.jumbotron-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbotron_div_area {
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 12px;
  padding: 20px;
}

.title-font {
  color: white;
  text-transform: uppercase;
}
